# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Example:

# NEXT AUTH
# NEXTAUTH_SECRET="12345"
# NEXTAUTH_URL="http://localhost:3000"

# API
# NEXT_PUBLIC_API_URL="http://localhost:5000/"

# RECAPTCHA
# NEXT_PUBLIC_RECAPTCHA_SITE_KEY="12345"
# RECAPTCHA_SECRET_KEY="12345"

# UPLOADTHING
# UPLOADTHING_SECRET="12345"
# UPLOADTHING_APP_ID="12345"

# OTHER
# NEXT_PUBLIC_ENCRYPTION_KEY="12345"
# MAINTENANCE_MODE="false"
# NODE_TLS_REJECT_UNAUTHORIZED=0
